.dev-container {
  /* display: flex; */
  justify-content: center;
  direction: column;
  font-size: 9vw;
  margin-left: 20%;
}

.divisor {
  position: relative;
  display: inline-block;
  border-left: solid 0.2rem;
  border-bottom: solid 0.2rem;
  padding: 0 0 0 18px;
  margin-left: 1.5rem;
  width: 40%;
}

.dev-answer {
  position: absolute;
  left: -5px;
}

.dev-answer .input-answer {
  margin-top: 0.2rem;
  direction: ltr;
  text-align: right;
}
