.answer-form {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.input-answer {
  background: transparent;
  /* background: greenyellow; */
  width: 100%;
  padding: 5px;
  height: 9vh;
  direction: rtl;
  unicode-bidi: bidi-override;
}

/* disable default arrows for Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: none;
}

/* disable border on focus */
input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  border: none !important;
}

.submit-answer-btn {
  position: absolute;
  right: -49px;
  height: 9vh;
  font-size: xx-large;
}
